[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
ptpython = "*"
jedi = "*"
pylint = "*"
mypy = "*"

[packages]
gitpages = {editable = true, path = "."}

[requires]
python_version = "3.9"
