<!DOCTYPE html>
<html>

  <head>
    <title>{% block page_title %}{{ title|smartypants }}{% endblock page_title %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/style.css" />
    {% block head_extra %}{% endblock head_extra %}
  </head>

  <body>

    <header>
    {% block heading -%}
      <h1 class="logo"><a href="{{ home_url }}"><span>Home</span></a></h1>
    {%- endblock heading %}
    </header>

    {% block content -%}
      {{ body }}
    {%- endblock content %}

  </body>

</html>
<!-- vim: set ft=jinja ts=2 sts=2 sw=2 et : -->
