<!DOCTYPE html>
{% set site_title = config.SITE_TITLE|smartypants -%}
<html>

  <head>
    <title>
      {%- block page_title -%}
        {{ site_title }}
      {%- endblock page_title -%}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    {%- block head_extra %}{% endblock head_extra %}
  </head>

  <body>

    <header>
    {% block heading -%}
      <h1 class="logo">
        <a href="{{ url_for('.index_view') }}">
          <span>{{ site_title }}</span>
        </a>
      </h1>
    {%- endblock heading %}
    </header>

    {% block content -%}
      {{ body }}
    {%- endblock content %}

  </body>

</html>

{# vim: set ft=jinja ts=2 sts=2 sw=2 et : #}
