<!DOCTYPE html>
<html>

  <head>
    <title>{% block page_title %}{{ title|smartypants }}{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Source+Code+Pro:400,700"
          rel="stylesheet"
          type="text/css" />
    <style type="text/css">
      * {
        font-family: 'Source Sans Pro', sans-serif;
      }
      code,   pre,   tt,
      code *, pre *, tt * {
        font-family: 'Source Code Pro', monospace;
      }
      {{ style_css }}
    </style>
  </head>

  <body>

    {% block heading -%}
      <h1>{{ title|typogrify }}</h1>
    {%- endblock %}

    {% block content -%}
      {{ body|typogrify }}
    {%- endblock %}

  </body>

</html>
<!-- vim: set ft=jinja ts=2 sts=2 sw=2 et : -->
