{% extends "base.html" %}

{% import "page.macros.html" as page_macros %}

{% block head_extra %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/lastfm.api.md5.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lastfm.api.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lastfmstats.js') }}"></script>
{% endblock head_extra %}


{% block content %}

{% for page_info, doc in index %}

  {{
    page_macros.page_content(
      page_info.title,
      doc().body,
      page_info.to_url(),
      page_info.date,
      'first' if loop.first else None,
    )
  }}

{% endfor %}

{% with %}

  {% set page_prev = results_page.pagenum > 1 %}
  {% set page_next = not results_page.is_last_page() %}

  {% if page_prev or page_next %}
  <div class="navigation">

    {% if page_prev %}
    <a class="page-prev"
       href="{{ url_for('.index_view', page_number=(results_page.pagenum - 1)) }}">
      &larr; Newer Entries
    </a>
    {% endif %}

    {% if page_next %}
    <a class="page-next"
       href="{{ url_for('.index_view', page_number=(results_page.pagenum + 1)) }}">
      Older Entries &rarr;
    </a>
    {% endif %}

  </div>
  {% endif %}

{% endwith %}

{% endblock content %}

{% block sidebar %}
{% include "sidebar.html" ignore missing %}
{% endblock sidebar %}

{# vim: set ft=jinja ts=2 sts=2 sw=2 et : #}
