{% extends "base.html" %}
{% block head_extra %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/lastfm.api.md5.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lastfm.api.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lastfmstats.js') }}"></script>
{% endblock head_extra %}


{% block content %}

{% for page_info, doc in index %}

<article {% if loop.first -%}class="first"{%- endif %}>
  <header>
    <h2>
      <a href="{{ page_info.to_url() }}">{{ page_info.title|smartypants }}</a>
    </h2>
  </header>

  {{ doc().body|safe }}

</article>

{% endfor %}

{% endblock content %}

{% block sidebar %}
{% include "sidebar.html" ignore missing %}
{% endblock sidebar %}

{# vim: set ft=jinja ts=2 sts=2 sw=2 et : #}
