{% extends "base.html" %}

{% import "page.macros.html" as page_macros %}

{% block page_title -%}
  {{ title|smartypants }} &mdash; {{ super() }}
{%- endblock page_title %}


{% block content -%}

  {{
    page_macros.page_content(
      title,
      body,
      page_url or page.to_url(),
      page.info.date,
      'single-page',
    )
  }}

  {{
    page_macros.page_attachments_list(
      attachments,
    )
  }}

  {{
    page_macros.page_revisions_list(
      page,
      page_history,
    )
  }}

{%- endblock content %}

{% block sidebar %}
  {% with page_infos = recent_pages %}
    {% include "page.sidebar.html" ignore missing %}
  {% endwith %}
{% endblock sidebar %}

{# vim: ft=jinja ts=2 sts=2 sw=2 et : #}
