{% macro page_content(title, body, url, external_url, date, article_class) %}
<article {% if article_class %}class="{{ article_class }}"{% endif %}
  itemscope
  itemtype="http://schema.org/BlogPosting"
  >

  <header>
    <h2 itemprop="headline">
      <a itemprop="url" content="{{ external_url }}" href="{{ url }}">
        {{ title|typogrify }}
      </a>
    </h2>
  </header>

  <div itemprop="articlebody">
  {{ body|safe }}
  </div>

  {% if caller %}
    {{ caller() }}
  {% endif %}

  <footer>
    <p class="info">
      Posted on
      <time itemprop="datepublished" content="{{ date.date().isoformat() }}">
        <b>{{ date.strftime(' %a %d %b %Y') }}</b>
      </time>
    </p>
  </footer>

</article>
{% endmacro %}

{% macro page_attachments_list(attachments) %}

{% for attachment in attachments %}

  {% if loop.first %}
  <h3>Attachments:</h3>
  <ul class="attachments">
  {% endif %}

    <li>

      <b>{{ attachment.filename }}</b>

      {%- with content_type = attachment.metadata.content_type %}

        ({{ attachment.metadata.content_length|filesizeformat(binary=True)}};
        {{ content_type }};
        <a href="{{ attachment.to_url(attachment=False) }}">view</a>
        |
        <a href="{{ attachment.to_url() }}">download</a>)

      {% endwith -%}
    </li>

  {% if loop.last %}
  </ul>
  {% endif %}

{% endfor %}

{% endmacro %}

{% macro page_revisions_list(page, page_history) %}

{% for change in page_history: %}

  {% if loop.first %}
  <h3>Revisions:</h3>
  <ul>
  {% endif %}

  <li>
    <a href="{{ page.to_url_tree(change.revision_tree_id)|safe }}">
      {{ change.revision_author_time }}: {{ change.revision_tree_id }}
    </a>
    <pre>{{ change.revision_message }}</pre>
  </li>

  {% if loop.last %}
  </ul>
  {% endif %}

{% endfor %}

{% endmacro%}

{# vim: ft=jinja ts=2 sts=2 sw=2 et : #}
