{% extends "base.html" %}

{% block page_title -%}
  {{ title|typogrify }} &mdash; {{ super() }}
{%- endblock page_title %}


{% block content -%}

  <header>
    <h2><a href="{{ page.to_url() }}">{{ title|typogrify }}</a></h2>
  </header>

  <div class="navigation">

    {% if page_prev %}
      <a class="page-prev" href="{{ page_prev.to_url() }}">
        &larr;
        {{ page_prev.title|typogrify }}
      </a>
    {% endif %}

    {% if page_next %}
      <a class="page-next" href="{{ page_next.to_url() }}">
        {{ page_next.title|typogrify }}
        &rarr;
      </a>
    {% endif %}

  </div>

  <article>

    {{ body|safe }}

    <footer>
      <p class="info">
        Posted on <b>{{ page.info.date.strftime('%a %d %b %Y') }}</b>
      </p>
    </footer>

  </article>

  {% for change in page_history: %}

    {% if loop.first %}
    <h3>Revisions:</h3>
    <ul>
    {% endif %}

    <li>
      {{ change.author_time }}:
      <pre>{{ change.message }}</pre>
    </li>

    {% if loop.last %}
    </ul>
    {% endif %}

  {% endfor %}

{%- endblock content %}

{# vim: set ft=jinja ts=2 sts=2 sw=2 et : #}
