{% extends "base.html" %}

{% block heading %}
  {{ super() }}
  <h2><a href="{{ page.to_url() }}">{{ title|typogrify }}</a></h2>
{% endblock heading %}

{% block content -%}

  <div class="navigation">

    {% if page_prev %}
      <a class="page-prev" href="{{ page_prev.to_url() }}">
        &larr;
        {{ page_prev.title|typogrify }}
      </a>
    {% endif %}

    {% if page_next %}
      <a class="page-next" href="{{ page_next.to_url() }}">
        {{ page_next.title|typogrify }}
        &rarr;
      </a>
    {% endif %}

  </div>

  {{ body|safe }}

{%- endblock content %}

{# vim: set ft=jinja ts=2 sts=2 sw=2 et : #}
