{% macro page_content(title, body, url, date, article_class) %} 
<article {% if article_class %}class="{{ article_class }}"{% endif %}>

  <header>
    <h2><a href="{{ url }}">{{ title|typogrify }}</a></h2>
  </header>

  {{ body|safe }}

  <footer>
    <p class="info">
      Posted on <b>{{ date.strftime('%a %d %b %Y') }}</b>
    </p>
  </footer>

</article>
{% endmacro %}

{% macro page_attachments_list(attachments) %}

{% for attachment in attachments %}

  {% if loop.first %}
  <h3>Attachments:</h3>
  <ul class="attachments">
  {% endif %}

    <li>
      <a href="{{ attachment.to_url() }}">{{ attachment.filename() }}</a>
      ({{ attachment.metadata.content_length|filesizeformat(binary=True)}};
      {{ attachment.metadata.content_type }})
    </li>

  {% if loop.last %}
  </ul>
  {% endif %}

{% endfor %}

{% endmacro %}

{# vim: ft=jinja ts=2 sts=2 sw=2 et : #}
